.flex {
    display: flex;
    border: 01px solid var(--borderColor);
    overflow: hidden;
    border-radius: 0px;

}

.flex span {
    /* border: 1px solid var(--borderColor); */
    padding: 3.5px 5px;
    cursor: pointer;
}

.flex .current {
    background: var(--highlight);
}