.wrapper {
    font-size: 100%;
    font-weight: bold;
    display: inline;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* max-width: 100px; */
    margin-left: 30px;
    cursor: pointer;
    transform: scale(1);
   
}


.wrapper img {
    position: absolute;
    left: -25px;
    bottom: -6px;
    transform: scale(1.1);
}

.wrapper .sun {
    position: absolute;
    left: 25px;
    top: 15px;
    /* transform: scale(1.5); */
}

.wrapper .top {
    color: white;
    font-size: 110%;
    z-index: 2;
    position: relative;
    /* background-color: red; */
    /* color: rgb(0, 201, 0); */
    /* background-color: green; */

}

.wrapper .top span {
    /* color:rgb(2, 172, 2); */
    z-index: 3;
}



.wrapper .mid {
    display: flex;
    gap: 5px;
    color: rgb(112, 230, 112);
    /* background-color: red;; */
    /* background-color: green;; */

    /* padding-left: 5px; */
    font-size: 80%;
    position: relative;
    z-index: 2;
    /* justify-content: center; */
}

.wrapper .flex {
    font-size: initial;
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 60%;
    display: none;
}