@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.wrapper {
    display: flex;
    font-weight: bolder;
    gap: 3px;
    font-size: 200%;
    cursor: pointer;
    /* margin-top: 5px; */


}



.wrapper span:nth-child(1) {
    color: rgb(70, 186, 240);

}

.wrapper span:nth-child(2) {
    color: white
}

.wrapper span:nth-child(3) {
    color: rgb(0, 169, 254)
}