.wrapper {
    padding: 2px 5px;
    border-radius: 5px 0 5px 0;
    background-color: rgb(255, 255, 255, 0.5);
    ;
    color: var(--highlight);
    display: flex;
    align-items: center;
    font-size: 90%;
    gap: 7px;
    backdrop-filter: blur(2px);
}