.wrapper {
    display: flex;
    max-height: 130px;
    border-bottom: 1px solid var(--borderColor);
    /* max-width: 200px; */
    width: 100%;
    min-height: 100px;
    max-height: 120px;
    padding-bottom: 10px;

}


.wrapper .image__container {
    width: 50%;
    overflow: hidden;

}

.wrapper .image__container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.wrapper .text__container {
    padding: 10px;
    width: 50%;

    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.wrapper .text__container .flex {
    display: flex;
    justify-content: space-between;

}

.wrapper .category {
    color: var(--highlight)
}

.wrapper .time {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    white-space: nowrap;
}