.wrapper {
    background-color: var(--nav);
    color: var(--navColor);
    /* min-height: 45vh; */
    padding: 25px;
}

.wrapper .slider {
    display: flex;
    overflow-x: hidden;
    min-width: 100%;
    position: relative;
    cursor: pointer;
    margin-top: -5px;

}




.wrapper .slider .slide {
    min-height: 55vh;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    /* border: 1px solid white; */
    ;
}

.wrapper .slide .surface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    /* background-color: red; */
    /* padding: 25px; */
}


.wrapper .slide .surface .image__container {
    width: 50%;
}

.wrapper .slide .surface .image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper .slide .surface .text__container {
    width: 50%;
    max-height: 300px;
    overflow-y: scroll;

}


.wrapper .slide .surface .text__container::-webkit-scrollbar {
    width: 0;
}

.text__container .date {
    color: red;
    text-transform: capitalize;
}

.text__container h1 {
    text-transform: capitalize;
    margin-top: 0;
}

.text__container .category {
    margin: 10px 0;
    color: red;
}

.button {
    background: white;
    color: black;
    padding: 7px;
    display: inline-block;
    /* margin-bottom: 10px; */
}

.wrapper .dots {
    min-height: 50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}

.wrapper .dots span {
    min-width: 10px;
    min-height: 10px;
    /* aspect-ratio: 1/1; */
    background: white;

}

@media (min-width:1024px) {
    .wrapper {
        padding: 15px var(--percent);
    }
}

@media (max-width:760px) {

    .wrapper {
        padding: 0 25px;
    }

    .wrapper .slider .slide {
        min-height: 85vh;
    }

    .slide .surface {
        flex-direction: column;
        justify-content: flex-start !important;
        padding: 0;
        height: 100%;
        /* width: 100%; */
    }

    .wrapper .slide .surface .image__container,
    .wrapper .slide .surface .text__container {
        width: 100%;
        /* background-color: white; */
        margin: 0;
        ;
    }


    .wrapper .slide .surface .image__container {
        height: 60% !important;
    }

    .wrapper .slide .surface .text__container {
        height: 40% !important;
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 0 15px;
    }

    .wrapper .slide .surface .image__container {
        height: 50% !important;
    }

    .wrapper .slide .surface .text__container {
        height: 50% !important;
    }
}

@media (max-width:480px) {
    .wrapper {
        padding: 0 10px;
    }

    .wrapper .slide .surface .image__container {
        height: 40% !important;
    }

    .wrapper .slide .surface .text__container {
        height: 60% !important;
    }
}

@media (max-width:410px) {}