.wrapper {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 3;
    display: flex;
    background: rgb(0, 0, 0, 0.1);
    width: 100%;
    min-width: 180px;
    animation: slideIn 0.5s ease-in-out forwards;

}


@keyframes slideIn {
    0% {
        transform: translateX(-100%) translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }
}


.wrapper .left {
    max-width: 230px;
    background: var(--nav);
    color: var(--navColor);
    /* padding: 15px; */
    max-height: 100vh;
    overflow-y: scroll;
    min-width: 230px;
    overflow-x: hidden;



}

.wrapper .left::-webkit-scrollbar {
    width: 0
}



.wrapper .right {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    background: var(--buttonBg);
    padding: 15px;
}

.flex h3 {
    margin: 0;
}

.flex h3:nth-child(2) {

    padding: 1px 5px;
    color: white;
    cursor: pointer;
    border: 1px solid var(--borderColor)
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    /* font-size: 110%; */
    font-weight: bold;
    margin: 15px;
}

.filterOptions button,
.filterOptions input {
    padding: 7px;
    width: 100%;
}



.fields {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.filterOptions {
    margin: 10px 15px;
}

.filterOptions .option {
    margin: 7px 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;

}

.filterOptions .option span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filterOptions .option:hover {
    color: var(--linkColor)
}



/* Serach Box */
.serach {
    position: relative;
    border-bottom: 1px solid var(--borderColor);
    background: var(--nav);
    margin: 15px;
    margin-top: 10px;
    ;
}

.serach input {
    padding: 10px;
    background: var(--nav);
    color: var(--navColor);
    /* border: 1px solid red; */
    width: 90%;
}

.serach span {
    position: absolute;
    right: 0;
    bottom: 0;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}