.wrapper {
    padding: 25px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper .left {
    width: 66.66%;
}



.wrapper .right {
    width: 33.333%;
    position: sticky;
    top: 45px;
}




.wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper p {
    margin: 0;
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    /* border-top: 1px solid var(--borderColor); */
    padding: 10px 0;
    /* border: 1px solid red; */
    margin-top: -10px;


}

.wrapper .flex .right {
    display: flex;
    width: none;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


.wrapper .flex .right .icon {
    border-radius: 5px;
    background: var(--inputField);
    padding: 2px 3px;
    align-items: center;
    cursor: pointer;
}

.wrapper .description {
    margin: 10px 0;
}

.wrapper .flex .left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.wrapper .flex .left .avater {
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .tags {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper .tags span {
    /* margin-right: 10px; */
    border-radius: 5px;
    padding: 5px 7px;
    background: var(--highlight);
    color: white;
    cursor: pointer;
}

.wrapper .right .articles__vertical {
    display: none;
}

.wrapper .right .articles__horizontal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}



@media (max-width:720px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper .left,
    .wrapper .right {
        width: 100%;
    }

    .wrapper .right .articles__horizontal {
        display: none;
    }

    .wrapper .right .articles__vertical {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }
}


@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }


}

@media (max-width:480px) {


    .wrapper .right .articles__vertical {
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }

    /* .wrapper .flex .right .icon {
        background: none;
        padding: 0;

    } */

    .wrapper .flex .right {
        /* background-color: red; */
        width: 50%;
    }

    .wrapper .flex .right .icon:nth-of-type(3) {
        display: none;

    }

    .wrapper .flex .right .icon:nth-of-type(4) {
        display: none;

    }

}