.wrapper,
.left,
.right {
    display: flex;
    align-items: center;
}

.wrapper {
    /* padding:15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav);
    color: var(--navColor);
    ;

    padding: 10px 25px;
    padding-top: 15px;
    border-radius: 5px;

    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0
}



.menu {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--navColor)
}

.logo {
    display: inline;
    margin-top: -6px;
}

.right {
    gap: 10px;
}

.left {
    gap: 5px;
}

.right .item img {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.order__create {}

.avater {}

@media (min-width:1024px) {
    .wrapper {
        padding: 10px var(--percent);
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }
}