@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {

  --font: 'Ubuntu', sans-serif;
  --percent: 10%;
  --background: #F5F5F5;
  --nav: rgb(0, 0, 0);
  --navColor: white;
  --bodyText: #333333;
  --key: #003366;
  --highlight: #fc2a2a;
  --linkColor: #fc2a2a;
  --action: red;
  --regularAction: #FFC107;
  --cardBg: rgb(0, 0, 0);
  --cardColor: white;
  --buttonBg: red;
  --buttonC: white;
  --borderColor: rgba(197, 223, 244, 255);
  --inputField: aliceblue;
  --hoverBgColor: rgba(7, 121, 214, 255);
  --hoverColor: rgba(7, 121, 214, 255);
  --scrollbar: red;
  ;
  --theme: rgba(7, 121, 214, 255);
  --icon: rgba(7, 121, 214, 255);
  --buttonPadding: 7px 10px;
  --logo: linear-gradient(45deg, rgba(7, 121, 214, 255) 50%, rgba(7, 121, 214, 255) 50%);
  --lightText: rgb(98, 96, 96);
  --lightTextW: rgb(218, 218, 218);
  --shadow: rgba(75, 26, 26, 0.3);
}

::selection {
  background-color: green;
  color: white;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 95%;
  font-family: var(--font);

}

hr {
  background: var(--borderColor);
  color: var(--borderColor);
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}



::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  width: 12px;
}



body {
  color: rgb(0, 0, 0, 0.8);
  background: var(--background);
  min-height: 100vh;


}

a {
  color: inherit;
  text-decoration: none;
  color: rgb(0, 183, 255);
}

li {
  list-style-type: none;
}



input,
select,
textarea {
  border: none;
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background: var(--inputField);
  border-radius: 0px;
  border: none;
  padding: var(--buttonPadding)
}


button {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0px;
  background: var(--buttonBg);
  color: var(--buttonC);
  cursor: pointer;
  padding: var(--buttonPadding)
}


.ql-align-center {
  text-align: center;
}

@media (max-width:570px) {
  body {
    font-size: 94%;
  }
}

@media (max-width:480px) {
  body {
    font-size: 92%;
  }
}


@media (max-width:380px) {
  body {
    font-size: 90%;
  }

  h1 {
    font-size: 160%;
  }
}