@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {

  --font: 'Ubuntu', sans-serif;
  --percent: 10%;
  --background: #F5F5F5;
  --nav: #333333;
  --navColor: white;
  --bodyText: #333333;
  --key: #003366;
  --highlight: #8b07ff;
  --linkColor: #1D9BF0;
  --action: red;
  --regularAction: #FFC107;
  --cardBg: rgba(255, 255, 255, 255);
  --buttonBg: linear-gradient(45deg, rgb(136, 0, 255, 0.9), rgba(7, 121, 214, 255));
  --buttonC: white;
  --borderColor: rgba(197, 223, 244, 255);
  --inputField: linear-gradient(245deg, rgb(136, 0, 255, 0.1), rgba(7, 121, 214, 0.1));
  --hoverBgColor: rgba(7, 121, 214, 255);
  --hoverColor: rgba(7, 121, 214, 255);
  --scrollbar: rgba(7, 121, 214, 255);
  --theme: rgba(7, 121, 214, 255);
  --icon: rgba(7, 121, 214, 255);
  --buttonPadding: 7px 10px;
  --logo: linear-gradient(45deg, rgba(7, 121, 214, 255) 50%, rgba(7, 121, 214, 255) 50%);
  --lightText: rgb(98, 96, 96);
}

::selection {
  background-color: rgb(136, 0, 255, 0.9);
  color: white
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 93%;
}

hr {
  background: var(--borderColor);
  color: var(--borderColor);
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}



::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  width: 12px;
}



body {
  color: rgb(0, 0, 0, 0.8);
  background: var(--background);
  min-height: 100vh;
  font-family: var(--font)
}

a {
  color: inherit;
  text-decoration: none;
  color: rgb(0, 183, 255);
}

li {
  list-style-type: none;
}



input,
select,
textarea {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  background: var(--inputField);
  border-radius: 5px;
  border: none;
  padding: var(--buttonPadding)
}


button {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background: var(--buttonBg);
  color: var(--buttonC);
  cursor: pointer;
  padding: var(--buttonPadding)
}




@media (max-width:570px) {
  body {
    font-size: 90%;
  }
}

@media (max-width:480px) {
  body {
    font-size: 88%;
  }
}


@media (max-width:380px) {
  body {
    font-size: 84%;
  }

  h1 {
    font-size: 160%;
  }
}